_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile.lock
node_modules
package.json
vendor
assets/cv/CV-Gromit.blg
assets/cv/CV-Gromit.fdb_latexmk
assets/cv/CV-Gromit.fls
assets/cv/CV-Gromit.log
assets/cv/CV-Gromit.synctex.gz
CV-Gromit.aux
CV-Gromit.bbl
CV-Gromit.xdv
