<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="{{ "assets/css/acl.css" | relative_url }}" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" >
<link rel="shortcut icon" type="image/png" href="favicon.png">


  <!-- Change title to your name NOTE: you have to do this in each of the html files-->
  <title>Gromit Yeuk-Yin Chan</title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


  
</head>


<body>
<!--center everything-->
<div id="headwrapper">

	<!--Header-->
	<div id="header"> 
        
		<div id="logo">
            <div id="Adobe"><img src=" {{ "assets/images/adobe.png" | relative_url }}"></div>
            <div id="NYU"><img src=" {{ "assets/images/nyu.jpg" | relative_url }}"></div>
            <div id="HKUST"><img src=" {{ "assets/images/hkust.png" | relative_url }}"></div>
        </div>
		<!--Name-->
		<div id="name">Gromit Yeuk-Yin Chan</div>
		<div id="affiliation">Research Scientist, <a href="https://research.adobe.com/" style="color:white;">Adobe Research</a><br /> Ph.D, New York University</div>
		<div id="navi">	
            <a href="{{ "index.html" | relative_url }}"><div id="{% if page.title == "Home" %}on{% else %}off{% endif %}">Home</div></a>
			<a href="{{ "assets/cv/CV-Gromit.pdf" | relative_url }}"><div id="{% if page.title == "CV" %}on{% else %}off{% endif %}">CV</div></a>
			<a href="{{"research.html" | relative_url }}"><div id="{% if page.title == "Research" %}on{% else %}off{% endif %}">Research</div></a>
			<a href="{{ "blog.html" | relative_url }}"><div id="{% if page.title == "Blog" %}on{% else %}off{% endif %}">Blog</div></a>
		    <a href="{{"personal.html" | relative_url }}"><div id="{% if page.title == "Personal" %}on{% else %}off{% endif %}">Personal</div></a>
		</div>
	</div>
	<!--end Header-->
</div>
<div id="outerwrapper">
	<!--Content-->
	<div id="maincontent">
		{{ content }}
	</div>
	<!--end Content-->
</div>
	<!--Foot-->
	<div id="footer"> A08-429, 345 Park Avenue, San Jose, CA 95110</div>
	<!--end Foot-->

<!--end center everything-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C3EWLD36HE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C3EWLD36HE');
</script>
</body>
</html>
